body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}
#test {
  display: flex;
  justify-content: center;
  padding: 10%;
  color: red;
  text-align: center;
  stroke: rgb(0, 0, 0);
  text-transform: capitalize;
  font-size: 500%;
  font-weight: 500;
}
